body {
	text-align: center;
	font: 12px Verdana;
	color: #ffffff;
	background-color: #888;
	margin:0px;
}

p{margin:0;}

.break {
	font-size: 0;
	width: 0; height: 0;
	clear: both;
}

#wrapper {
	width: 840px;
	margin: auto auto;
	text-align: left;
	padding-bottom: 20px;
}

#top{
    height:27px;
	background-color: #888888;
	color: white;
	font-size: 0.9em;
	border: 2px solid #fff;
}
	#top .top-info {margin:5px 10px 0 16px}
	#top a {
		color: white;
		float:right;
		margin-right:10px;
	}
	#top p {
	    float:left;
	}

#header {
	height: 86px;
    background-color: #f5f5f5;
    border: 2px solid #fff;
    border-top: 1px solid #fff;
	color: #262626;
}
	#header img {
		margin:15px 20px 0 37px;
		float:left;
	}
	#header h1{
		margin:17px 0 0 20px;
		font-size: 24px;
	}
	#header h4{
		margin:9px 0 0 24px;
		font-size: 12px;
	}
    #div1 {
		width:250px;
		float:left;
	}
	#div2 {
		margin:25px 20px 0 20px;
		float:right;
		font-family:"FangSong_GB2312";
		font-size:30px;
		color:#FF6500;
		font-weight:bold;
	}
	#div2 i{
		color:#262626;
		font-size:25px;
	}
		
#body {
	color: #282bf2;
	padding: 0;
	width:972px;
}

#ifrPage {
	width: 697px;
	height: 535px;
	padding: 0px;
	padding-left: 4px;
	border-right: 2px solid #fff;
	border-left: 2px solid #fff;
	border-top: 1px;
	background-color:#f1f3f7;
}
		
#sidebar2 {
	width: 135px;
	float: left;
	background-color:#e8ebf2;
	border: 0px solid #fff;
	border-top: 1px;
	height:535px; 
}	
	#sidebar2 ul {
		  -webkit-padding-start: 0;
		 -webkit-margin-before: 0;
         -webkit-margin-after: 0;
		list-style-type: none;
		border-top: 1px solid #ffffff;
		border-bottom: 1px solid #fff;
		padding:0px;
		margin:0px;
	}
		#sidebar2 ul li {
			font-size: 0.9em;
			width: 100%;
			height: 30px;
			overflow:hidden;
		}
		#sidebar2 ul li a {
			color: #16191C;
			text-decoration: none;
			padding: 8px 100% 8px 20px;
			line-height: 30px;
			white-space: nowrap;
		}

		#sidebar2 ul li a:hover {
			color: #ed6C00;
		}
		
		#sidebar2 ul li+li {
			border-top: 1px solid #fff;
		}
		#sidebar2 div {
			background-color:#0067AC;
			border-top: 2px solid #ffffff;    
		}

#footer{
	background-color: #777;
    color: white;
    font-size: 0.9em;
    border: 2px solid #fff;
    border-top: 1px;
    height: 50px;
}
	#footer a {
		color: white;
	}
	#footer p {
		float:left;
		margin:14px 0px 0 16px;
	}
	#line{
		margin:0px;
		padding:0px;
		width:100%;
		height:100%;
		border-top: 0px solid #ff6600;
	}
	
#left{
	float:right;
	margin:14px 15px 0 0;
}
